<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('./includes/styles.ejs') %>
        <style>
            #textFormater {
                margin-bottom: var(--l-margin);
                background: #f9f9f9;
                padding: var(--m-padding);
            }

            .ql-editor {

                min-height: 200px;
                background: #fff;
            }

            .ql-toolbar {
                position: sticky;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 999;
                background: #eee;
                height: 60px;
                line-height: 29px;
            }
        </style>

        <link data-ams-reload="true" rel="stylesheet" href="/css/quill.css">
        <link data-ams-reload="true" href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <link data-ams-reload="true" href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
        <link data-ams-reload="true" rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/monokai-sublime.min.css">
</head>

<body>
    <%- include('./includes/side-nav.ejs') %>
        <div class="wrapper">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <main id="vehicles">
                <section class="head">
                    <div class="flex f-space-between">
                        <h2>Articles</h2>
                        <!--Main Actions -->
                        <aside class="flex f-space-between">

                            <a class="btn bg-w toggle-new-item">New Article</a>
                        </aside>

                    </div>
                </section>
                <section class="search flex ">

                    <input class="form-control" type="text" name="search-name" id="search-name"
                        placeholder="Search by name..">

                </section>
                <div class="client-info_basics m-large">
                    <div class="new-item-box slideable">
                        <form class="inside-wrapper">
                            <div class="form-actions flex f-space-around">
                                <h3>New Article</h3>
                                <button type="submit" class="btn btn-success save-item">Create</button>
                            </div>
                            <i class="fas fa-times close toggle-new-item"></i>

                            <div>
                                <div class="form_inputs">

                                    <div class="p-medium">
                                        <div class="grid g-two">

                                            <div class="form-group">
                                                <label for="title">Title <span class="c-r">*</span></label>
                                                <input type="text" name="title" id="title" />
                                            </div>
                                            <div class="form-group">
                                                <label for="site_description">Site Description <span
                                                        class="c-r">*</span></label>
                                                <input type="text" name="site_description" id="site_description" />
                                            </div>

                                            <div class="form-group flex">
                                                <label for="active">Active</label>
                                                <input type="checkbox" name="active" id="active" v-model="active" />
                                            </div>
                                            <div class="form-group">
                                                <label for="image">image <span class="c-r">*</span></label>
                                                <input type="file" name="image" id="articleImg" />
                                            </div>
                                            <div class="form-group grid">
                                                <label for="category">category</label>

                                                <select name="category" id="category">
                                                </select>
                                            </div>
                                            <div class="form-group grid">
                                                <label for="location">location</label>

                                                <select name="location" id="location">
                                                    <option value="all" class="options">All</option>
                                                    <option value="blog" class="options">Blog</option>
                                                    <option value="portfolio" class="options">Portfolio</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="tags">Article Tags:</label>
                                                <div class="flex">

                                                    <input class="currentInput input" id="tag" type="text"
                                                        placeholder="Type Tags Then Press Enter" />
                                                    <a class="add-tag btn btn-small">Add</a>
                                                </div>
                                                <div class="tags flex">

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div id="textFormater">
                                        <div class="editor"></div>
                                    </div>
                                    <input type="file" id="getFile" @change="uploadImage($event)" class="none" />

                                </div>
                            </div>
                            <!--Image Here-->
                        </form>

                    </div>
                </div>

                <div class="content  g-three">
                    <div class="content-desc">
                        <span>Article Title</span>
                        <span>Status</span>
                    </div>
                    <div class="items"></div>
                    <img class="loading none" src="/admin/images/loading(3).svg">
                </div>




            </main>

        </div>

        <script type='application/javascript'
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
        <script type='application/javascript'
            src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js">

        <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
        <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

        <!-- Theme included stylesheets -->
        <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">

        <%- include('./includes/scripts.ejs') %>
            <script src="/admin/modules/components/articles.js"> </script>
            <script src="/admin/modules/interface/articless.js"> </script>
</body>

</html>