<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="https://kit.fontawesome.com/c735762739.js"></script>


<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<meta name="description" content="<%=pageDescription%>">
<meta name="keywords" content="<%=pageKeywords%>">
<link rel="stylesheet" href="/css/classes.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

<link rel="manifest" href="/manifest.json" />

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-wep-app-status-bar-style" content="#e3334d">
<meta name="apple-mobile-web-app-title" content="Abdelrahman Mohamed">
<link rel="apple-touch-icon" href="/images/icons/48.png" sizes="48x48">
<link rel="apple-touch-icon" href="/images/icons/96.png" sizes="96x96">
<link rel="apple-touch-icon" href="/images/icons/144.png" sizes="144x144">
<link rel="apple-touch-icon" href="/images/icons/256.png" sizes="256x256">
<link rel="apple-touch-icon" href="/images/icons/384.png" sizes="384x384">
<link rel="apple-touch-icon" href="/images/icons/192.png" sizes="192x192">
<meta name="msapplication-TileImage" content="/src/images/icons/192.png">
<meta name="msapplication-TileColor" content="#fff">
<meta name="theme-color" content="#fff">
<title>
    <%=title%>
</title>